<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login cx</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/mainRegister.css">
</head>
<body>

    <div class="login">
        <div class="form-container">
            <img class="logo" src="/drassager/src/assests/drassager.png" alt="logo">

            <form action="/register" method="POST" class="form" >
                <label for="user" class="">User</label>
                <input type="text" name="user" required>

                <label for="name">Full Name</label>
                <input type="text" name="name" required>

                <label for="pass">Password</label>
                <input type="password" name="pass" required>

                <label for="rol">Rol</label>
                <select name="rol" id="rol">
                    <option value="CX">CX</option>
                    <option value="Lab">Lab</option>
                    <option value="Inst">Inst</option>

                </select>


                <div class="btns">
                    <input class="btn-login"type="submit" value="Crear"></input>
                </div>

            </form>

        </div>

    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(()=>{
                window.location='/ <%= ruta %>'
            })
        </script>
    <% } %>
</body>
</html>